

<h1>EMAIL CONFIRMATION</h1>

<p>
  Username : <%= @user.username %>
  
</p>

<%= @user.email %>

</p>


p<p> Please click this link to confirm your email <a href="http://localhost:3000/confirmation/<%= @user.encrypted_password
%>">click here </a></p>
<p>
Thank you for registering with us.
</p>

please visit 